img {
    max-width: 300px;
    max-height: auto;
}

.ingredient-list {
    list-style: none;
    margin: 0 auto;
    display: table;
    margin-top: 40px;
}

.recipe-card {
    border: 2px solid black;
}

.recipe-list {
    list-style: none;
}

.MuiButton-Label {
    padding-top: 10px;
}

.MuiTypography-h6 {
    overflow-wrap:break-word;
}

a {
    font-size: 10px;
}
